os: osx
language: cpp

compiler:
    - clang

before_install:
  - CHANGED_FILES=($(git diff --name-only $TRAVIS_COMMIT_RANGE))
  - echo "$CHANGED_FILES"

install:
  - .ci/install.sh

script:
  - |
    if [[ "$TRAVIS_BRANCH" == "master" && "$TRAVIS_PULL_REQUEST" == "false" ]]; then
      echo "this is a merge"
    fi
    if [ -n "$TRAVIS_TAG" ]; then
      echo "this is a tag"
    fi
