os: osx
language: cpp

compiler:
    - clang

install:
  - .ci/install.sh

script:
  - |
    if [[ "$TRAVIS_BRANCH" == "master" && "$TRAVIS_PULL_REQUEST" == "false" ]]; then
      echo "this is a merge"
      echo $TRAVIS_BRANCH
      echo $TRAVIS_PULL_REQUEST
    fi
    if [ -n "$TRAVIS_TAG" ]; then
      echo "this is a tag"
      echo $TRAVIS_TAG
    fi

branches:
  only:
    - /master/dependencies/c/
    - *.yml
