os: osx
language: cpp

compiler:
    - clang

before_install:
  - brew install grep
  - |
    if ! git diff --name-only $TRAVIS_COMMIT_RANGE | ggrep 'binutils'
    then
      echo "SKIP conan build for other packages"
      travis_terminate 0
    fi

install:
  - .ci/install.sh

script:
  - |
    if [[ "$TRAVIS_BRANCH" == "master" && "$TRAVIS_PULL_REQUEST" == "false" ]]; then
      echo "this is a merge"
      sh ./dependencies/gnu/binutils/ca.sh
    fi
    if [ -n "$TRAVIS_TAG" ]; then
      echo "this is a tag"
      echo $TRAVIS_TAG
    fi
