os: osx
language: cpp

compiler:
    - clang

before_install:
  - |
    CHANGED_FILES=($(git diff --name-only $TRAVIS_COMMIT_RANGE))
    echo $CHANGED_FILES
    if [[$CHANGED_FILES != *binutils*]]; then
      echo "skip conan build for other packages"
      travis_terminate 1
    fi


install:
  - .ci/install.sh

script:
  - |
    if [[ "$TRAVIS_BRANCH" == "master" && "$TRAVIS_PULL_REQUEST" == "false" ]]; then
      echo "this is a merge"
    fi
    if [ -n "$TRAVIS_TAG" ]; then
      echo "this is a tag"
      echo $TRAVIS_TAG
    fi
